<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-title>
      Eventos publicados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="width: 80px; height: 140px; align-content: center; margin: 5% auto 1% auto; display: block;" src="../assets/maleante.png" alt="">
  <ion-list>
    <ion-card *ngFor="let event of events" color="dark">
      <ion-item color="dark">
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>{{ event.title }}</ion-label>
        <ion-button fill="outline" slot="end" [routerLink]="['/details', event.id]">Editar</ion-button>
      </ion-item>
      
      <ion-card-content color="medium">
        {{ event.description }}
      </ion-card-content>

      <ion-item href="#" color="dark">
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{ event.place }}</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
